.todo-form > input {
    height: 2.125rem;
    width: 100%;
  }
  
  .todo-form > button {
    height: 2.5rem;
    cursor: pointer;
    min-width: 5rem;
    margin-left: .5rem;
    background-color: white
  }

  .todo-form {
    display: flex;
    height: max-content;
  }

